#search_button {
	position: relative;
	background-color: rgb(50, 50, 50);
	color: rgb(200, 200, 200);
	border-radius: 5px;
	text-align: center;
	height: 30px;
	width: 150px;
	left: 1545px;
}
#search_button:hover {
	background-color: rgb(100, 100, 100);
	cursor: pointer;
}
.mb-3 {
	position: relative;
	width: 50%;
	left: 480px;
	top: 55px;
}
.subscriptions_management {
	position: relative;
	left: 400px;
}
.unfollow_link {
	position: relative;
	color: rgb(50, 50, 50);
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	left: 250px;
	top: 0px;
}
.unfollow_link:hover {
	color: rgb(100, 100, 100);
	cursor: pointer;
	text-decoration: none;
}
