{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'follow/styles.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css" />
    <script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <p class="subscriptions_management">Follow other users</p>
        <div id="autocomplete" class="autocomplete">
        <input class="autocomplete-input" placeholder="Search for a user" aria-label="Search for a user" />
        <ul class="autocomplete-result-list"></ul>
        </div>
        </div>
        <button id="search_button" type="submit">Send</button>
    </form>
    <script>
        new Autocomplete('#autocomplete', {
            search: input =>{
                console.log(input)
                const url = '/search/?username=${input}'
                return new Promise(resolve =>{
                    fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        console.log(data)
                        resolve(data.data)
                    })
                })
            }
        })
    </script>
{% endblock content %}
