{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'follow/styles.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css" />
    <script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
    <form method="get" action="{% url 'search_users' %}">
        {% csrf_token %}
        <div class="mb-3">
            <p class="subscriptions_management">Follow other users</p>
        <div id="autocomplete" class="autocomplete">
        <input class="autocomplete-input" placeholder="Search for a user" name="username"/>
        <ul class="autocomplete-result-list"></ul>
        </div>
        </div>
    </form>
    <form method="post" action="{% url 'follow_user' %}">
        {% csrf_token %}
        <input type="hidden" name="user" value="" readonly/>
        <input type="hidden" name="value" value="follow" readonly/>
        <button id="search_button" type="submit">Send</button>
    </form>
    <form method="post" action="{% url 'unfollow_user' %}">
        {% csrf_token %}
        <input type="hidden" name="followed_user" value="" readonly/>
        <input type="hidden" name="value" value="unfollow" readonly/>
    </form>
    <script>
        new Autocomplete('#autocomplete', {
            search: input =>{
                console.log(input)
                const url = `/search/?username=${input}`
                return new Promise(resolve =>{
                    fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        console.log(data)
                        resolve(data.data)
                    })
                })
            }
        })
    </script>
{% endblock content %}
