#litreview_logo {
	position: relative;
	width: 150px;
	margin: auto;
	left: 880px;
}
.navbar-nav {
	position: relative;
	left: 1380px;
}
#welcome_message, #password_change_suggestion {
	position: relative;
	left: 45px;
}
