#login_form, #sign_up, #password_change_form, #password_change_done, #user_delete {
	width: 150px;
	margin: auto;
}
#login_button {
	background-color: rgb(50, 50, 50);
	color: rgb(200, 200, 200);
	border-radius: 5px;
	text-align: center;
	height: 30px;
	width: 150px;
	position: relative;
	right: -25px;
}
#login_button:hover {
	background-color: rgb(100, 100, 100);
	cursor: pointer;
}
