{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'reviews/styles.css' %}" />
    <form method="post" enctype="multipart/form-data" name="ticket">
        <div class="mb-3">
      <label for="exampleFormControlInput2" class="form-label">Title</label>
      <input type="text" class="form-control" id="exampleFormControlInput2" name="title">
    </div><br>
    <div class="mb-3">
      <label for="exampleFormControlTextarea2" class="form-label">Description</label>
      <textarea class="form-control" id="exampleFormControlTextarea2" name="description" rows="3"></textarea>
    </div><br>
    <div class="mb-3">
      <input class="form-control form-control-sm" id="formFileSm1" name="image" type="file">
    </div>
    </form><br>
    <div class="mb-3">
      <label for="exampleFormControlInput3" class="form-label">Title</label>
      <input type="text" class="form-control" id="exampleFormControlInput3" name="headline">
    </div><br>
    <form method="post" id="rating_system" name="rating">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">1</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">2</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
          <label class="form-check-label" for="inlineRadio3">3</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option3">
          <label class="form-check-label" for="inlineRadio4">4</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option3">
          <label class="form-check-label" for="inlineRadio5">5</label>
        </div>
    </form><br>
    <div class="mb-3">
      <label for="exampleFormControlTextarea3" class="form-label">Description</label>
      <textarea class="form-control" id="exampleFormControlTextarea3" name="body" rows="3"></textarea>
    </div><br>
    <form action="{% url 'home' %}">
         <button id="create_ticket" type="submit">Send</button>
     </form><br>
    <div class="back_to_home_page">
    <a href="{% url 'home' %}">Back to home page</a>
    </div>
{% endblock content %}
