{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'reviews/styles.css' %}" />
    <form method="post">
        {% csrf_token %}
            <form class="flux_item" name="ticket">
            <p>{{ ticket.title }}</p><br>
            <p>{{ ticket.description }}</p><br>
             <div>
            {% if ticket.image %}
                <img class="book_image" src="{{ ticket.image.url }}">
            {% endif %}
             </div><br>
            <p>ticket created on {{ ticket.time_created }} by {{ ticket.user }}</p>
            </form><br>
        <div class="mb-3">
          <label for="exampleFormControlInput3" class="form-label">Title</label>
          <input type="text" class="form-control" id="exampleFormControlInput3" name="headline">
        </div><br>
        <div class="rate" id="rating_system">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="rating" id="0" value="0">
          <label class="form-check-label" for="0">0</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="rating" id="1" value="1">
          <label class="form-check-label" for="1">1</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="rating" id="2" value="2">
          <label class="form-check-label" for="2">2</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="rating" id="3" value="3">
          <label class="form-check-label" for="3">3</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="rating" id="4" value="4">
          <label class="form-check-label" for="4">4</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="rating" id="5" value="5">
          <label class="form-check-label" for="5">5</label>
        </div>
        </div><br>
        <div class="mb-3">
          <label for="exampleFormControlTextarea3" class="form-label">Comment</label>
          <textarea class="form-control" id="exampleFormControlTextarea3" name="body" rows="3"></textarea>
        </div><br>
        <form action="{% url 'home' %}">
             <button id="create_ticket" type="submit">Send</button>
         </form><br>
    </form>
    <div class="back_to_home_page">
    <a href="{% url 'home' %}">Back to home page</a>
    </div>
{% endblock content %}
