{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'reviews/styles.css' %}" />
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <form>
            <div class="mb-3">
          <label for="exampleFormControlInput2" class="form-label">Title</label>
          <input type="text" class="form-control" id="exampleFormControlInput2" name="title">
        </div><br>
        <div class="mb-3">
          <label for="exampleFormControlTextarea2" class="form-label">Description</label>
          <textarea class="form-control" id="exampleFormControlTextarea2" name="description" rows="3"></textarea>
        </div><br>
        <div class="mb-3">
          <input class="form-control form-control-sm" id="formFileSm1" name="image" type="file">
        </div>
        </form><br>
        <div class="mb-3">
          <label for="exampleFormControlInput3" class="form-label">Title</label>
          <input type="text" class="form-control" id="exampleFormControlInput3" name="headline">
        </div><br>
        <form class="rate" id="rating_system" name="rating">
        <input type="radio" id="star5" name="rate" value="5" />
        <label for="star5" title="text">5 stars</label>
        <input type="radio" id="star4" name="rate" value="4" />
        <label for="star4" title="text">4 stars</label>
        <input type="radio" id="star3" name="rate" value="3" />
        <label for="star3" title="text">3 stars</label>
        <input type="radio" id="star2" name="rate" value="2" />
        <label for="star2" title="text">2 stars</label>
        <input type="radio" id="star1" name="rate" value="1" />
        <label for="star1" title="text">1 star</label>
        </form>
        <div class="mb-3">
          <label for="exampleFormControlTextarea3" class="form-label">Comment</label>
          <textarea class="form-control" id="exampleFormControlTextarea3" name="body" rows="3"></textarea>
        </div><br>
        <form action="{% url 'home' %}">
             <button id="create_ticket" type="submit">Send</button>
         </form><br>
     </form>
    <div class="back_to_home_page">
    <a href="{% url 'home' %}">Back to home page</a>
    </div>
{% endblock content %}
