{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <div id="home">
    <link rel="stylesheet" href="{% static 'reviews/styles.css' %}" />
      <div>
     <form action="{% url 'ask_review' %}">
    <button id="ask_review" type="submit">Ask a review</button>
     </form>
     <form action="{% url 'create_new_review' %}">
    <button id="create_review" type="submit">Create a review</button>
    </form>
     </div><br>
      <div class="review_object">
     {% for review in reviews %}
              <p>{{ ticket.title }}</p><br>
                <p>{{ ticket.description }}</p><br>
            {% if ticket.image %}
                <img class="book_image" src="{{ ticket.image.url }}"><br>
            {% endif %}
            <p>{{ review.rating }}</p><br>
            <p>{{ review.headline }}</p><br>
            <p>{{ review.body }}</p><br>
            <p>review created on {{ review.time_created }} by {{ review.user }}</p>
     {% endfor %}
     </div><br>
     {% for ticket in tickets %}
        <div class="flux_item">
        <p>{{ ticket.title }}</p><br>
        <p>{{ ticket.description }}</p><br>
         <div>
        {% if ticket.image %}
            <img class="book_image" src="{{ ticket.image.url }}">
        {% endif %}
         </div><br>
        <p>ticket created on {{ ticket.time_created }} by {{ ticket.user }}</p>
        </div><br>
      {% endfor %}
    <p id="delete_account_link"><a href="{% url 'delete_account' user.id %}">Delete account</a></p>
    </div>
{% endblock content %}
