{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <div id="home">
    <link rel="stylesheet" href="{% static 'reviews/styles.css' %}" />
      <div>
     <form action="{% url 'ask_review' %}">
    <button id="ask_review" type="submit">Ask a review</button>
     </form>
     <form action="{% url 'create_new_review' %}">
    <button id="create_review" type="submit">Create a review</button>
    </form>
     </div><br>
     {% for review in reviews %}
     <div class="review_object">
            <p>{{ review.ticket.title }}</p><br>
            <p>{{ review.ticket.description }}</p><br>
            <div>
        {% if review.ticket.image %}
            <img class="book_image" src="{{ review.ticket.image.url }}">
        {% endif %}
         </div><br>
         <div class="star_rating">
             {% if review.rating == 0 %}
                <span>&star;</span>
                <span>&star;</span>
                <span>&star;</span>
                <span>&star;</span>
                <span>&star;</span>
             {% elif  review.rating == 1 %}
                <span>&starf;</span>
                <span>&star;</span>
                <span>&star;</span>
                <span>&star;</span>
                <span>&star;</span>
             {% elif  review.rating == 2 %}
                <span>&starf;</span>
                <span>&starf;</span>
                <span>&star;</span>
                <span>&star;</span>
                <span>&star;</span>
             {% elif  review.rating == 3 %}
                <span>&starf;</span>
                <span>&starf;</span>
                <span>&starf;</span>
                <span>&star;</span>
                <span>&star;</span>
             {% elif  review.rating == 4 %}
                <span>&starf;</span>
                <span>&starf;</span>
                <span>&starf;</span>
                <span>&starf;</span>
                <span>&star;</span>
             {% elif  review.rating == 5 %}
                <span>&starf;</span>
                <span>&starf;</span>
                <span>&starf;</span>
                <span>&starf;</span>
                <span>&starf;</span>
             {% endif %}
         </div><br>
            <p>{{ review.headline }}</p><br>
            <p>{{ review.body }}</p><br>
            <p>review created on {{ review.time_created }} by {{ review.user }}</p>
     </div><br>
     {% endfor %}
     {% for ticket in real_tickets %}
        <div class="flux_item">
        <p>{{ ticket.title }}</p><br>
        <p>{{ ticket.description }}</p><br>
         <div>
        {% if ticket.image %}
            <img class="book_image" src="{{ ticket.image.url }}">
        {% endif %}
         </div><br>
        <p>ticket created on {{ ticket.time_created }} by {{ ticket.user }}</p>
        </div><br>
        <form action="{% url 'create_review' %}">
        <button id="create_a_review" type="submit">Create a review</button>
        </form>
      {% endfor %}
    <p id="delete_account_link"><a href="{% url 'delete_account' user.id %}">Delete account</a></p>
    </div>
{% endblock content %}
