{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <div id="home">
    <link rel="stylesheet" href="{% static 'reviews/styles.css' %}" />
      <div>
     <form action="{% url 'ask_review' %}">
    <button id="ask_review" type="submit">Ask a review</button>
     </form>
     <form action="{% url 'create_new_review' %}">
    <button id="create_review" type="submit">Create a review</button>
    </form>
     </div><br>
     {% for item in page_object %}
        {% if item in reviews %}
             <div class="review_object">
                    <p>{{ item.ticket.title }}</p><br>
                    <p>{{ item.ticket.description }}</p><br>
                    <div>
                {% if item.ticket.image %}
                    <img class="book_image" src="{{ item.ticket.image.url }}" alt="Image of book">
                {% endif %}
                 </div><br>
                 <div class="star_rating">
                     {% if item.rating == 0 %}
                        <span>&star;</span>
                        <span>&star;</span>
                        <span>&star;</span>
                        <span>&star;</span>
                        <span>&star;</span>
                     {% elif  item.rating == 1 %}
                        <span>&starf;</span>
                        <span>&star;</span>
                        <span>&star;</span>
                        <span>&star;</span>
                        <span>&star;</span>
                     {% elif  item.rating == 2 %}
                        <span>&starf;</span>
                        <span>&starf;</span>
                        <span>&star;</span>
                        <span>&star;</span>
                        <span>&star;</span>
                     {% elif  item.rating == 3 %}
                        <span>&starf;</span>
                        <span>&starf;</span>
                        <span>&starf;</span>
                        <span>&star;</span>
                        <span>&star;</span>
                     {% elif  item.rating == 4 %}
                        <span>&starf;</span>
                        <span>&starf;</span>
                        <span>&starf;</span>
                        <span>&starf;</span>
                        <span>&star;</span>
                     {% elif  item.rating == 5 %}
                        <span>&starf;</span>
                        <span>&starf;</span>
                        <span>&starf;</span>
                        <span>&starf;</span>
                        <span>&starf;</span>
                     {% endif %}
                 </div><br>
                    <p>{{ item.headline }}</p><br>
                    <p>{{ item.body }}</p><br>
                    <p>review created on {{ item.time_created }} by {{ item.user }}</p>
                    <form action="{% url 'update_review' item.id %}">
                        <button class="update_a_review" type="submit">Update review</button>
                    </form>
             </div><br>
        {% elif item in real_tickets %}
            <div class="flux_item">
            <p>{{ item.title }}</p><br>
            <p>{{ item.description }}</p><br>
             <div>
            {% if item.image %}
                <img class="book_image" src="{{ item.image.url }}" alt="Image of book">
            {% endif %}
             </div><br>
            <p>ticket created on {{ item.time_created }} by {{ item.user }}</p>
            </div><br>
            {% if not item.is_already_replied %}
                <form action="{% url 'create_review' item.id %}">
                <button class="create_a_review" type="submit">Create a review</button>
                </form>
            {% endif %}
            <form action="{% url 'update_ticket' item.id %}">
            <button class="update_a_ticket" type="submit">Update ticket</button>
            </form>
        {% endif %}
     {% endfor %}
     <span>
        {% if page_object.has_previous %}
            <a href="?page=1">« first</a>
            <a href="?page={{ page_object.previous_page_number }}">previous</a>
        {% endif %}

        <span>
            Page {{ page_object.number }} on {{ page_object.paginator.num_pages }}.

        </span>
        {% if page_object.has_next %}
            <a href="?page={{ page_object.next_page_number }}">next</a>

            <a href="?page={{ page_object.paginator.num_pages }}">previous »</a>
        {% endif %}
    </span>
    <p id="delete_account_link"><a href="{% url 'delete_account' user.id %}">Delete account</a></p>
    </div>
{% endblock content %}
