{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'reviews/styles.css' %}" />
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Title</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" name="title" value="{{ ticket.title }}">
    </div><br>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Description</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" name="description" rows="3">{{ ticket.description }}</textarea>
    </div><br>
    <div class="mb-3">
        {{ ticket.image }}
      <input class="form-control form-control-sm" id="formFileSm" name="image" type="file">
    </div><br>
     <form action="{% url 'posts' %}">
         <button id="create_ticket" type="submit">Send</button>
     </form>
    </form><br>
    <div class="back_to_home_page">
    <a href="{% url 'home' %}">Back to home page</a>
    </div>
{% endblock content %}
