<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'base.css' %}" />
    <title>Litreview</title>
</head>
<body>
    <header>
        <p id="litreview_logo"><img src="{% static 'LitReview_logo.PNG' %}" alt="LitReview logo"/></p>
    </header>
    {% block content %}{% endblock content %}
    {% if user.is_authenticated %}
        <p>You are logged in as {{ request.user }}. <a href="{% url 'logout' %}">Log out</a></p>
        <p>Do you want to <a href="{% url 'password_change' %}">change your password ?</a></p>
    {% endif %}
</body>
</html>
