#home {
	width: 150px;
	margin: auto;
}
#ask_review {
	background-color: rgb(50, 50, 50);
	color: rgb(200, 200, 200);
	border-radius: 5px;
	text-align: center;
	height: 30px;
	width: 150px;
	position: relative;
	right: 140px;
	top: 30px;
}
#create_review {
	background-color: rgb(50, 50, 50);
	color: rgb(200, 200, 200);
	border-radius: 5px;
	text-align: center;
	height: 30px;
	width: 150px;
	position: relative;
	right: -170px;
}
#ask_review:hover {
	background-color: rgb(100, 100, 100);
	cursor: pointer;
}
#create_review:hover {
	background-color: rgb(100, 100, 100);
	cursor: pointer;
}
#delete_account_link {
	position: relative;
	left: 25px;
	top: 700px;
}
#create_ticket {
	position: relative;
	background-color: rgb(50, 50, 50);
	color: rgb(200, 200, 200);
	border-radius: 5px;
	text-align: center;
	height: 30px;
	width: 150px;
	left: 45px;
}
#create_ticket:hover {
	background-color: rgb(100, 100, 100);
	cursor: pointer;
}
.mb-3, .back_to_home_page {
	position: relative;
	width: 50%;
	left: 45px;
}
.book_image {
	max-width: 30%;
	height: auto;
}
.flux_item {
	position: relative;
	border-radius: 2px;
	background-color: rgba(170, 170, 170, 0.6);
	width: 600px;
	left: -200px;
}
#rating_system {
	position: relative;
	left: 45px;
}
