{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'authentication/styles.css' %}" />
    <div id="login_form">
    <p>{{ message }}</p>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
        <input type="text" class="form-control" name="username" placeholder="Username">
        </div><br>
    <div class="form-group">
    <input type="password" class="form-control" name="password" placeholder="Password">
    </div><br>
        <button id="login_button" type="submit">Log in</button>
    </form><br>
    <p id="signup_link">New to LitReview? <a href="{% url 'signup' %}">Create an account.</a></p>
    </div>
{% endblock content %}
