{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'authentication/styles.css' %}" />
    <div id="password_change_form">
    <form method="post">
        {% csrf_token %}
        <div class="signup_form">
        <input type="password" class="form-control" name="old_password" placeholder="Old Password">
        </div><br>
        <div class="signup_form">
        <input type="password" class="form-control" name="new_password1" placeholder="New Password">
        </div><br>
        <div class="signup_form">
        <input type="password" class="form-control" name="new_password2" placeholder="New Password Confirmation">
        </div><br>
        <form action="{% url 'password_change_done' %}">
        <button id="change_password" type="submit" >Change the password</button>
        </form>
        {% if form.errors %}
       {% for field in form %}
           {% for error in field.errors %}
              <div class="alert alert-danger">
                   <strong>{{ error|escape }}</strong>
                    <label>{{ field.label }}</label>
              </div>
           {% endfor %}
       {% endfor %}
    {% endif %}
    </form>
    <a href="{% url 'home' %}">Back to home page</a>
    </div>
{% endblock content %}
