{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'authentication/styles.css' %}" />
    <div id="sign_up">
    <h2>Sign up to Litreview</h2>
    {% if form.errors %}
        {{ form.errors }}
    {% endif %}
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <button id="signup_up_button" type="submit">Sign up</button>
    </form>
        <p>Already have an account ? <a href="{% url 'login' %}">Back to login page.</a></p>
    </div>
{% endblock content %}
